<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg-white p-3 rounded mb-3">
        <div class="mb-3">
          <%= link_to "予定追加", new_event_path, class: "btn btn-primary" %>
        </div>
        <div>
          <%= month_calendar events: @events do |date, events| %>
            <%= date.day %>
            <% events.each do |event| %>
              <div><%= event.title %></div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="bg-white p-3 rounded">
      	<div class="schedule">今後の予定一覧</div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>タイトル</th>
              <th>日程</th>
              <th>参考記事</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @event_lists.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.start_time.strftime("%m-%d") %></td>
                <td>
                  <% if event.post_id == -1 %>
                  <% else %>
                    <%= link_to post_path(event.post_id) do %>
                      <%= event.post.title %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to "編集", edit_event_path(event),  class: "btn btn-success" %>
                </td>
                <td>
                  <%= link_to "削除", event_path(event), method: :delete,  class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>