<% posts.each do |post| %>
  <div class="d-flex m-3">
    <%= link_to post_path(post) do %>
      <div>
        <%= image_tag post.get_after_image(100,150) %>

        <%= post.title %>
        <span class="ml-3">投稿者:</span>
        <%= post.member.name %>
        <span class="ml-3">タグ:</span>
        <% post.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
        <%= truncate(post.body, length: 20) %>
      </div>
    <% end %>
  </div>
<% end %>