<% posts.each do |post| %>
  <div class="d-flex p-2 m-2 rounded shadow">
    <div class="mx-3 index_post_image">
      <% if admin_signed_in? %>
        <%= link_to admin_post_path(post) do %>
          <%= image_tag post.get_after_image(100,130) %>
        <% end %>
      <% else %>
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_after_image(100,130) %>
        <% end %>
      <% end %>
    </div>
    <div>
      <div>
        <% if admin_signed_in? %>
          <%= link_to admin_post_path(post) do %>
            <%= post.title %>
          <% end %>
          <span class="ml-3">
            公開状態：
            <% if post.is_publish == true %>
              <span>公開</span>
            <% else %>
              <span>非公開</span>
          　<% end %>
          </span>
        <% else %>
          <%= link_to post_path(post) do %>
            <%= post.title %>
          <% end %>
        <% end %>
      </div>
      <div>
        <span class="ml-3">投稿者:</span>
        <% if admin_signed_in? %>
          <%= link_to edit_admin_member_path(post.member_id) do %>
            <%= post.member.name %>
          <% end %>
        <% else %>
          <%= link_to member_path(post.member_id) do %>
            <%= post.member.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>