<div class="sidebar">
  <div class="bg-white pt-2 pb-5 px-2 rounded">
    <div class="mb-3">
      <h2>おすすめタグ</h2>
      <% favorited_tags.each do |tag| %>
        <% unless tag.posts.count == 0 %>
          <% if admin_signed_in? %>
            <%= link_to tag.name, admin_posts_path(tag_id: tag.id), class: "bg-light text-dark mx-1" %>
          <% else %>
            <%= link_to tag.name, posts_path(tag_id: tag.id), class: "bg-light text-dark mx-1" %>
          <% end %>
        <% end %>
      <% end %>

    </div>
    <div>
      <h2>タグ一覧</h2>
      <% tags.each do |tag| %>
        <% unless tag.posts.count == 0 %>
          <% if admin_signed_in? %>
            <%= link_to tag.name, admin_posts_path(tag_id: tag.id), class: "bg-light text-dark mx-1" %>
          <% else %>
            <%= link_to tag.name, posts_path(tag_id: tag.id), class: "bg-light text-dark mx-1" %>
          <% end %>
        <% end %>
      <% end %>
      <p>
        <% if admin_signed_in? %>
          <%= link_to "タグ一覧へ>>", admin_tags_path %>
        <% else %>
          <%= link_to "タグ一覧へ>>", tags_path %>
        <% end %>
      </p>
    </div>
  </div>
</div>