<div class="container">
  <div class="row">
    <div class="col-md-8 bg-white mb-3 rounded py-3">
      <div class="d-flex">
    		<% if params[:tag_id] %>
    			<h2><%= @tag.name %>の記事一覧 (全<%= @all_posts_count %>件)</h2>
    		<% elsif @keyword %>
    			<h2><%= @keyword %>の記事一覧 (全<%= @all_posts_count %>件)</h2>
    		<% else %>
    			<h2>記事一覧 (全<%= @all_posts_count %>件)</h2>
    		<% end %>

        <% if member_signed_in? %>
          <div class="ml-5">
            <%= link_to "新規投稿", new_post_path, class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
      <div>
        <%= render "index", posts: @posts %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-white pt-2 pb-5 px-2 rounded">
        <h2>タグ一覧</h2>
        <%= render 'public/posts/tag', tags: @tags %>
      </div>
    </div>
  </div>
</div>