<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <div class="d-flex">
    		<% if params[:tag_id] %>
    			<h2><%= @tag.name %>の記事一覧 (全<%= @all_posts_count %>件)</h2>
    		<% else %>
    			<h2>記事一覧 (全<%= @all_posts_count %>件)</h2>
    		<% end %>

        <% if member_signed_in? %>
          <div class="ml-5"><%= link_to "新規投稿", new_post_path, class: "btn btn-success" %></div>
        <% end %>
      </div>
      <%= render "index", posts: @posts %>
    </div>
    <div class="col-4">
      <%= render 'public/posts/sidebar', tags: @tags %>
    </div>
  </div>
</div>