<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="form-group">
        <h2><%= @post.title %></h2>
        <div>
          <span>投稿者：
            <%= link_to member_path(@post.member) do %>
              <%= @post.member.name %>
            <% end %>
          </span>
          <span class="mx-3">お気に入り数：<%= @post.favorites.count %></span>
          <% if @post.member != current_member && member_signed_in? %>
            <% if @post.favorited_by?(current_member) %>
              <%= link_to "お気に入り削除", post_favorites_path(@post), method: :delete,  class: "btn-sm btn-secondary ml-4" %>
            <% else %>
              <%= link_to "お気に入り登録", post_favorites_path(@post), method: :post, class: "btn-sm btn-success ml-4" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <% if @post.before_image.attached? %>
      <div class="col-lg-8 d-flex justify-content-between">
        <div>
          <%= image_tag @post.get_before_image(300,300) %>
          <h5><strong>作業前画像</strong></h5>
        </div>
        <div>
          <%= image_tag @post.get_after_image(300,300) %>
          <h5><strong>作業後画像</strong></h5>
        </div>
      </div>
    <% else %>
      <div>
        <%= image_tag @post.get_after_image(300,300) %>
        <h5><strong>作業後画像</strong></h5>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-lg-10">
      <div>
        <h5><strong>掃除方法</strong></h5>
        <%=safe_join(@post.body.split("\n"), tag(:br))%>
      </div>
      <div class="my-5">
        <h5><strong>タグ</strong></h5>
        <% @post.tags.each do |tag| %>
          <%= link_to tag.name, posts_path(tag_id: tag.id) %>
        <% end %>
      </div>
      <% if @post.member == current_member %>
        <div class="text-right my-3">
          <%= link_to "編集する", edit_post_path, class: "btn btn-success" %>
          <%= link_to "削除する", post_path, class: "btn btn-danger ml-3", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <!--コメント一覧表示-->
      <% @post.post_comments.each do |post_comment| %>
        <table class="mb-3">
          <tbody>
            <tr>
              <td>
                ユーザー名：<%= post_comment.member.name %>
                <% if post_comment.member == current_member %>
                  <%= link_to "削除", post_post_comment_path(@post, post_comment), method: :delete, class: "btn btn-sm btn-danger ml-3", "data-confirm" => "本当に削除しますか？" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= post_comment.comment %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <!--コメント作成フォーム-->
      <% if @post.member != current_member && member_signed_in? %>
        <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: "w-100" %>
          <div class="text-right">
            <%= f.submit "作成", class: "btn btn-success px-4" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>