<div class="container py-3 bg-white rounded">
  <span class="text-success", style="font-size : larger"><%= flash[:notice] %></span>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= render 'public/posts/show_title', post: @post %>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <%= render 'public/posts/show_image', post: @post %>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-lg-10">
      <%= render 'public/posts/show_body', post: @post %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <!--コメント一覧表示-->
      <div class="d-flex mb-3">
        <h5>コメント一覧</h5>
        <span class="ml-5 post-comments-counter">
          <%= render 'public/post_comments/counter', post: @post %>
        </span>
      </div>
      <div class="post-comments-index">
        <%= render 'public/post_comments/index', post: @post, post_comments: @post_comments %>
      </div>

      <!--コメント作成フォーム-->
      <div class="post-comments-form">
        <% if member_signed_in? %>
          <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>