<div class="container p-2 bg-white rounded">
  <span class="text-success", style="font-size : larger"><%= flash[:notice] %></span>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="form-group">
        <h2><%= @post.title %></h2>
        <div>
          <span>投稿者：
            <%= link_to member_path(@post.member) do %>
              <%= @post.member.name %>
            <% end %>
          </span>
          <span class="mx-3 post-favorites-counter">
            <%= render 'public/favorites/counter', post: @post %>
          </span>
          <% if @post.member != current_member && member_signed_in? %>
            <span class=<%= "favorite-" + @post.id.to_s %>>
              <%= render 'public/favorites/favorite', post: @post %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <% if @post.before_image.attached? %>
      <div class="col-sm-6 justify-content-center">
        <div class="text-center">
          <%= image_tag @post.get_before_image(250,300) %>
          <h5><strong>作業前画像</strong></h5>
        </div>
      </div>
      <div class="col-sm-6 justify-content-center">
        <div class="text-center">
          <%= image_tag @post.get_after_image(250,300) %>
          <h5><strong>作業後画像</strong></h5>
        </div>
      </div>
    <% else %>
      <div>
        <%= image_tag @post.get_after_image(250,300) %>
        <h5><strong>作業後画像</strong></h5>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-lg-10">
      <div class="shadow p-3 rounded">
        <h5><strong>掃除方法</strong></h5>
        <%=safe_join(@post.body.split("\n"), tag(:br))%>
      </div>
      <div class="my-5 shadow p-3 rounded">
        <h5><strong>タグ</strong></h5>
        <% @post.tags.each do |tag| %>
          <%= link_to tag.name, posts_path(tag_id: tag.id) %>
        <% end %>
      </div>
      <% if @post.member == current_member %>
        <div class="text-right my-3">
          <%= link_to "編集する", edit_post_path, class: "btn btn-success" %>
          <%= link_to "削除する", post_path, class: "btn btn-danger ml-3", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <!--コメント一覧表示-->
      <div class="d-flex mb-3">
        <h5>コメント一覧</h5>
        <span class="ml-5 post-comments-counter">
          <%= render 'public/post_comments/counter', post: @post %>
        </span>
      </div>
      <div class="post-comments-index">
        <%= render 'public/post_comments/index', post: @post, post_comments: @post_comments %>
      </div>

      <!--コメント作成フォーム-->
      <div class="post-comments-form">
        <% if @post.member != current_member && member_signed_in? %>
          <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>