<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>会員名</th>
      <th>メールアドレス</th>
      <th>投稿記事数</th>
      <th>コメント数</th>
      <th>利用可能状況</th>
    </tr>
  </thead>
  <% members.each do |member| %>
    <tbody>
      <td>
        <%= link_to edit_admin_member_path(member) do %>
          <%= member.name %>
        <% end %>
      </td>
      <td><%= member.email %></td>
      <td>
        <%= link_to posts_admin_member_path(member) do %>
          <%= member.posts.count %>
        <% end %>
      </td>
      <td>
        <%= link_to post_comments_admin_member_path(member) do %>
          <%= member.post_comments.count %>
        <% end %>
      </td>
      <td>
        <% if member.is_active == true %>
          <span class="text-success">利用可能</span>
        <% else %>
          <span class="text-secondary">利用停止</span>
        <% end %>
      </td>
    </tbody>
  <% end %>
</table>