<div class="container">
  <div class="row">
    <div class="col-12 bg-white p-3 rounded">
      <% if @members.blank? %>
        <h2>フォローしている会員がいません。</h2>
      <% else %>
        <h2><%= @member.name %>さんのフォロー一覧</h2>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>表示名</th>
              <th>投稿数</th>
              <th>フォロー数</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td>
                  <%= link_to member_path(member) do %>
                    <%= member.name %></td>
                  <% end %>
                <td>
                  <%= link_to member_path(member) do %>
                    <%= member.posts.count %>
                  <% end %>
                </td>
                <td>
                  <%= link_to member_following_path(member) do %>
                    <%= member.following.count %>
                  <% end %>
                </td>
                <% if current_member == @member %>
                  <td>
                    <%= render 'public/relationships/form', member: member %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>