<div class="p-3 rounded bg-white">
  <p>プロフィール</p>
  <div>
    <div class="p-2 mb-2">
      <p>表示名</p>
      <p class="ml-2"><%= member.name %></p>
    </div>
    <% if member.introduction.present? %>
      <div class="p-2">
        <p>自己紹介</p>
        <p class="ml-2">
          <%= safe_join(member.introduction.split("\n"), tag(:br)) %>
        </p>
      </div>
    <% end %>
    <div class="mt-3">
      <% if member == current_member %>
        <p><%= link_to "プロフィール編集へ", edit_information_members_path, class: "member_text" %></p>
        <p><%= link_to "カレンダーへ", events_path, class: "member_text" %></p>
        <p><%= link_to "フォロー会員一覧へ", following_members_path, class: "member_text" %></p>
      <% else %>
        <div class="my-3">
          <%= render 'public/relationships/form', member: member %>
        </div>
      <% end %>
    </div>
  </div>
</div>