<div class="container">
  <span class="bg-white rounded <%= flash[:color] %>", style="font-size : larger"><%= flash[:notice] %></span>
  <div class="row">
    <div class="col-md-3 mb-3">
      <%= render 'public/members/sidebar', member: @member %>
    </div>
    <div class="col-md-9">
      <%= render 'public/members/transition', member: @member %>
      <div class="bg-white p-3 rounded">
        <div class="d-flex">
          <h2>投稿記事一覧</h2>
          <%= render 'public/posts/new_btn', member: @member %>
        </div>
        <div>
          <%= render "public/posts/index", posts: @posts %>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @posts, theme: 'bootstrap-5' %>
        </div>
      </div>
    </div>
  </div>
</div>