<div class="container bg-white py-3 rounded">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= render 'public/posts/show_title', post: @post %>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <%= render 'public/posts/show_image', post: @post %>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-lg-10">
      <%= render 'public/posts/show_body', post: @post %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <!--コメント一覧表示-->
      <div class="d-flex mb-3">
        <h5>コメント一覧</h5>
        <span class="ml-5 post-comments-counter">
          <%= render 'public/post_comments/counter', post: @post %>
        </span>
      </div>
      <div class="post-comments-index">
        <% @post_comments.each do |post_comment| %>
          <table class="mb-3">
            <tbody>
              <tr>
                <td>
                  ユーザー名：<%= post_comment.member.name %>
                  <%= link_to "削除", admin_post_comment_path(post_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger ml-3", "data-confirm" => "本当に削除しますか？" %>
                </td>
              </tr>
              <tr>
                <td><%= post_comment.comment %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @post_comments, theme: 'bootstrap-5' %>
        </div>
      </div>
    </div>
  </div>
</div>