<div class="container bg-white py-3 rounded">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="form-group">
        <h2><%= @post.title %></h2>
        <div>
          <span>投稿者：
            <%= link_to edit_admin_member_path(@post.member) do %>
              <%= @post.member.name %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <% if @post.before_image.attached? %>
      <div class="col-lg-8 d-flex justify-content-between">
        <div>
          <%= image_tag @post.get_before_image(300,300) %>
          <h5><strong>作業前画像</strong></h5>
        </div>
        <div>
          <%= image_tag @post.get_after_image(300,300) %>
          <h5><strong>作業後画像</strong></h5>
        </div>
      </div>
    <% else %>
      <div>
        <%= image_tag @post.get_after_image(300,300) %>
        <h5><strong>作業後画像</strong></h5>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-lg-10">
      <div>
        <h5><strong>掃除方法</strong></h5>
        <%=safe_join(@post.body.split("\n"), tag(:br))%>
      </div>
      <div class="my-5">
        <h5><strong>タグ</strong></h5>
        <% @post.tags.each do |tag| %>
          <%= link_to tag.name, posts_path(tag_id: tag.id) %>
        <% end %>
      </div>
      <div class="text-right my-3">
        <%= link_to "削除する", admin_post_path, class: "btn btn-danger ml-3", method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <!--コメント一覧表示-->
      <div class="d-flex mb-3">
        <h5>コメント一覧</h5>
        <span class="ml-5 post-comments-counter">
          <%= render 'public/post_comments/counter', post: @post %>
        </span>
      </div>
      <div class="post-comments-index">
        <% @post_comments.each do |post_comment| %>
          <table class="mb-3">
            <tbody>
              <tr>
                <td>
                  ユーザー名：<%= post_comment.member.name %>
                  <%= link_to "削除", admin_post_comment_path(post_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger ml-3", "data-confirm" => "本当に削除しますか？" %>
                </td>
              </tr>
              <tr>
                <td><%= post_comment.comment %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @post_comments, theme: 'bootstrap-5' %>
        </div>
      </div>
    </div>
  </div>
</div>