<% post_comments.each do |post_comment| %>
  <table class="mb-3 table">
    <tbody>
      <tr>
        <td>
          <div><%= l post_comment.created_at %></div>
          ユーザー名：<%= post_comment.member.name %>
          <% if admin_signed_in? %>
            <%= link_to "削除", admin_post_comment_path(post_comment), method: :delete, class: "btn btn-sm btn-danger ml-3", "data-confirm" => "本当に削除しますか？" %>
          <% elsif post_comment.member == current_member %>
            <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-sm btn-danger ml-3", "data-confirm" => "本当に削除しますか？" %>
          <% end %>
          <div><%= safe_join(post_comment.comment.split("\n"), tag(:br)) %></div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<div class="d-flex justify-content-center mt-4">
  <%= paginate post_comments, theme: 'bootstrap-5' %>
</div>