<nav class="navbar navbar-expand-lg shadow-sm navbar-light">
  <div class="container">
    <h3><%= link_to "Keep Clean House", root_path, class: "text-dark font-italic" %></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to '会員一覧', admin_members_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to '投稿記事一覧', admin_posts_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to 'コメント一覧', admin_post_comments_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to 'タグ一覧', admin_tags_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
        <% elsif member_signed_in? %>
          <li class="nav-item">
            <%= link_to 'マイページ', member_path(current_member), class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to '投稿記事一覧', posts_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "About", about_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_member_registration_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_member_session_path, class: 'nav-link text-dark' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>