<div class="header-inner pt-3 bg-white">
  <div class="container d-flex justify-content-between py-2 mb-2">
    <%= link_to root_path, class: "header-logo text-decoration-none" do %>
      <h5 class="text-info">Keep <span class="bg-info p-2 rounded text-white">Clean</span> House</h5>
    <% end %>
    <div class="header-sub">
      <div>
        <%= render 'layouts/search' %>
      </div>
      <div>
        <% unless member_signed_in? || admin_signed_in? %>
          <div class="ml-5">
            <%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: "btn btn-primary form-control" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="openbtn"><span></span><span></span><span></span></div>
  <nav class="gnav">
    <div class="gnav_list">
      <div class="gnav_list_search">
        <%= render 'layouts/search' %>
      </div>
      <div class="gnav_list_btn">
        <% unless member_signed_in? || admin_signed_in? %>
          <%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: "btn btn-primary form-control" %>
        <% end %>
      </div>

      <ul class="rounded">
        <% if admin_signed_in? %>
          <li>
            <%= link_to '会員一覧', admin_members_path %>
          </li>
          <li>
            <%= link_to '記事一覧', admin_posts_path %>
          </li>
          <li>
            <%= link_to 'コメント一覧', admin_post_comments_path %>
          </li>
          <li>
            <%= link_to 'タグ一覧', admin_tags_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        <% elsif member_signed_in? %>
          <li>
            <%= link_to 'マイページ', member_path(current_member) %>
          </li>
          <li>
            <%= link_to 'カレンダー', events_path %>
          </li>
          <li>
            <%= link_to '記事一覧', posts_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "サイトについて", about_path %>
          </li>
          <li>
            <%= link_to "記事一覧", posts_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_member_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_member_session_path %>
          </li>
        <% end %>
      </ul>

      <% if member_signed_in? %>
        <ul class="rounded">
          <li><%= link_to "プロフィール編集へ", edit_information_members_path %></li>
          <li><%= link_to "カレンダーへ", events_path %></li>
          <li><%= link_to "フォロー会員一覧へ", following_members_path %></li>
        </ul>
      <% end %>
    </div>
  </nav>
  <nav class="header-nav text-center">
    <ul class="list-group list-group-horizontal">
      <% if admin_signed_in? %>
        <li class="list-group-item flex-fill">
          <%= link_to '会員一覧', admin_members_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to '記事一覧', admin_posts_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill list_item_none">
          <%= link_to 'コメント一覧', admin_post_comments_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to 'タグ一覧', admin_tags_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
        </li>
      <% elsif member_signed_in? %>
        <li class="list-group-item flex-fill">
          <%= link_to 'マイページ', member_path(current_member), class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to 'カレンダー', events_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to '記事一覧', posts_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link text-dark' %>
        </li>
      <% else %>
        <li class="list-group-item flex-fill">
          <%= link_to "サイトについて", about_path, class: 'nav-link text-dark' %>
        </li class="list-group-item flex-fill">
        <li class="list-group-item flex-fill">
          <%= link_to "記事一覧", posts_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to "新規登録", new_member_registration_path, class: 'nav-link text-dark' %>
        </li>
        <li class="list-group-item flex-fill">
          <%= link_to "ログイン", new_member_session_path, class: 'nav-link text-dark' %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<script>
  $(".openbtn").click(function () {
    $(this).toggleClass("active");
    $(".gnav").toggleClass("list_active");
  });

  $(".gnav a").click(function () {
    $(".openbtn").removeClass("active");
    $(".gnav").removeClass("list_active");
  });
</script>